body{
  width: 800px;
  height: 600px;
  border-style: solid;
  border-width: thin;
  margin: auto;
}

.corpsFond1{
  background-image: url("assets/jardin.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: auto;
}

.corpsFond2{
  background-image: url("assets/vue.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: auto;
}
.corpsFond3{
  background-image: url("assets/saloonext.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: auto;
}
.corpsFond4{
  background-image: url("assets/saloonint.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: auto;
}
.corpsFond5{
  background-image: url("assets/ranch.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: auto;
}
.corpsFond6{
  background-image: url("assets/eglise.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: auto;
}
.corpsFond7{
  background-image: url("assets/banque.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: auto;
}
.corpsFond8{
  background-image: url("assets/prison.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: auto;
}
.corpsFondDessin{
  background-image: url("assets/dessin.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: auto;
}
.corpsFondBlanc{
  background-size: 800px 600px;
  background-position: center;
  cursor: pointer;
  margin: auto;
  background-color:white;
}


.dialBox{
  border: 5px double black;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  opacity: 0.6;
  visibility: visible;
  font-family: fantasy;
  font-size: 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row;
  z-index: -1;
}

.charaName{
  border: 5px double black;
  background-color: white;
  opacity: 0.6;
  margin-top: 350px;
  visibility: hidden;
  font-family: fantasy;
  font-size: 20px;
  width: 200px;
  height: 40px;
}

#charaBox{
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}


#precedent{
  margin-top: 10%;
}

#suivant{
  margin-top: 10%;
  margin-left: auto;
  margin-right: 2%;
}

#sprite1{
  background-image: url("assets/inori.png");
  height: 420px;
  width: 420px;
  position: absolute;
  margin-top: 100px;
  visibility: hidden;
}

#sprite2{
  background-image: url("assets/hernest.png");
  height: 420px;
  width: 420px;
  position: absolute;
  margin-top: 100px;
  margin-left: 450px;
  visibility: hidden;
}

#sprite3{
  background-image: url("assets/bob.jpg");
  background-repeat: no-repeat;
  height: 420px;
  width: 420px;
  position: absolute;
  margin-top: 100px;
  margin-left: 150px;
  visibility: hidden;
}
