#corps{
	height: 600px;
	width: 800px;
	border: double black 1px;
	margin: auto;
}


#saloon{
		background-image: url("../assets/saloon.png");
		background-repeat: no-repeat;
		height: 600px;
		width: 800px;
		border: double black 1px;
		margin: auto;
		position: absolute;
		visibility: visible;
		  z-index: -1;
}


#suivant{
  margin-top: 10%;
  margin-left: auto;
  margin-right: 2%;
}


.fenetre1{
	opacity: 0;
	background-image: url("assets/fenetre1.jpg");
	background-repeat: no-repeat;
	height: 65px;
	width: 120px;
	margin-left: 530px;
	margin-top: 250px;
	position: absolute;
		visibility: visible;
		cursor: pointer;
}

.pancarte{
	opacity: 0;
	background-image: url("assets/pancarte.jpg");
	background-repeat: no-repeat;
	height: 65px;
	width: 200px;
	margin-left: 295px;
	margin-top: 100px;
	position: absolute;
		visibility: visible;
		cursor: pointer;

}

.banc{
	opacity: 0;
	background-image: url("assets/banc.jpg");
	background-repeat: no-repeat;
	height: 65px;
	width: 100px;
	margin-left: 20px;
	margin-top: 350px;
	position: absolute;
		visibility: visible;
		cursor: pointer;


}


.cheval{
	opacity: 0;
	background-image: url("assets/cheval.jpg");
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	margin-top: 350px;
	margin-left: 600px;
	position: absolute;
		visibility: visible;
		cursor: pointer;


}

.porte{
	opacity: 0;
	background-image: url("assets/porte.jpg");
	background-repeat: no-repeat;
	height: 80px;
	width: 135px;
	margin-left: 320px;
	margin-top: 280px;
	position: absolute;
		visibility: visible;
		cursor: pointer;

}


.tonneau{
	opacity: 0;
	background-image: url("assets/tonneau.jpg");
	background-repeat: no-repeat;
	height: 85px;
	width: 70px;
	margin-top: 310px;
	margin-left: 470px;
	position: absolute;
		visibility: visible;
		cursor: pointer;


}
.escalier{
	opacity: 0;
	background-image: url("assets/escalier.jpg");
	background-repeat: no-repeat;
	height: 70px;
	width: 160px;
	margin-left: 300px;
	margin-top: 430px;
	position: absolute;
		visibility: visible;
		cursor: pointer;


}
.chapeau{
	opacity: 0;
	background-image: url("assets/chapeau.jpg");
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	margin-top:285px;
	margin-left: 245px;
	position: absolute;
		visibility: visible;
		cursor: pointer;


}
.vie4{
	background-image: url("assets/vie4.png");
	background-repeat: no-repeat;
	height: 100px;
	width: 300px;
	margin-top:20px;
	position: absolute;
	visibility: hidden;
	margin-left: 550px;
}
.vie3{
	background-image: url("assets/vie3.png");
	background-repeat: no-repeat;
	height: 100px;
	width: 300px;
	margin-top:20px;
	left: 700px;
	position: absolute;
	visibility: hidden;
	margin-left: 250px;
}
.vie2{
	background-image: url("assets/vie2.png");
	background-repeat: no-repeat;
	height: 100px;
	width: 300px;
	margin-top:20px;
	left: 700px;
	position: absolute;
	visibility: hidden;
	margin-left: 250px;
}
.vie1{
	background-image: url("assets/vie1.png");
	background-repeat: no-repeat;
	height: 100px;
	width: 300px;
	margin-top:20px;
	left: 700px;
	position: absolute;
	visibility: hidden;
	margin-left: 250px;
}
.incorrect{
	background-image: url("assets/incorrect.png");
	background-repeat: no-repeat;
	height: 600px;
	width: 800px;
	border: double black 1px;
	margin: auto;
	position: absolute;
	visibility: hidden;
}
.win{
	background-image: url("assets/win.png");
	background-repeat: no-repeat;
	height: 600px;
	width: 800px;
	border: double black 1px;
	margin: auto;
	position: absolute;
	visibility: hidden;

}


.dial{
  border: 5px double black;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  opacity: 0.7;
  visibility: visible;
  font-family: fantasy;
  font-size: 20px;
  width: auto;
  height: auto;
  display: flex;
  z-index: -1;
}

#charaBox{
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0.7;
}

.charaName{
  border: 5px double black;
  background-color: white;
  opacity: 0.4;
  margin-top: 350px;
  visibility: hidden;
  font-family: fantasy;
  font-size: 20px;
  width: 200px;
  height: 40px;
}

#next{
	position: absolute;
	margin-top: 0px;
  margin-left: 700px;
	height: 50px;
	width: 100px;
	font-size: 10px;
	font-style: italic;
	visibility: hidden;
}
