body{
  width: 800px;
  height: 600px;
  border-style: solid;
  border-width: thin;
  margin: auto;
}

.saloonint{
  background-image: url("../assets/saloon_interieur.png");
  width: 800px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  position: absolute;
}

#cartes{
  background-image: url("../assets/cartes.png");
  width: 800px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  position: absolute;
  visibility: hidden;
}

.dialBox{
  border: 5px double black;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  opacity: 0.6;
  visibility: visible;
  font-family: fantasy;
  font-size: 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row;
  z-index: -1;
}

.charaName{
  border: 5px double black;
  background-color: white;
  opacity: 0.6;
  margin-top: 350px;
  visibility: hidden;
  font-family: fantasy;
  font-size: 20px;
  width: 200px;
  height: 40px;
}

#charaBox{
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}


#suivant{
  margin-top: 10%;
  margin-left: auto;
  margin-right: 2%;
}

#rose{
  background-image: url("../assets/femme_souriante_fini.png");
  height: 420px;
  width: 420px;
  position: absolute;
  margin-top: 100px;
  visibility: hidden;
  background-repeat: no-repeat;
}
#tom{
  background-image: url("../assets/homme_neutre_fini.png");
  height: 420px;
  width: 420px;
  position: absolute;
  margin-top: 100px;
  margin-left: 600px;
  visibility: hidden;
  background-repeat: no-repeat;
}

#plateau{
  width: 300px;
  height: 300px;
  position: absolute;
  margin-left: 250px;
  margin-top: 50px;
  visibility: hidden;
  position: absolute;
}

.cartesjouables{
  background-image: url("../assets/cartesjouables.png");
  width: 77px;
  height: 111px;
  padding: 10px;
  background-repeat: no-repeat;
  display: inline-flex;
  visibility: hidden;
  cursor: pointer;
}

#next{
	position: absolute;
	margin-top: 0px;
  margin-left: 700px;
	height: 50px;
	width: 100px;
	font-size: 10px;
	font-style: italic;
	visibility: hidden;
}
