body{
  width: 800px;
  height: 600px;
  border-style: solid;
  border-width: thin;
  margin: auto;
}

#chambre{
  background-image: url("../assets/chambre.png");
  height: 600px;
  width: 800px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  visibility: visible;
  position: absolute;
}

#miroir{
  background-image: url("../assets/miroir.png");
  height: 600px;
  width: 800px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  visibility: hidden;
  position: absolute;
}

.dialBox{
  border: 5px double black;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  opacity: 0.6;
  visibility: visible;
  font-family: fantasy;
  font-size: 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row;
  z-index: -1;
}

.charaName{
  border: 5px double black;
  background-color: white;
  opacity: 0.6;
  margin-top: 350px;
  visibility: hidden;
  font-family: fantasy;
  font-size: 20px;
  width: 200px;
  height: 40px;
}

#charaBox{
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}


#precedent{
  margin-top: 10%;
}

#suivant{
  margin-top: 10%;
  margin-left: auto;
  margin-right: 2%;
}

#sprite1{
  background-image: url("../assets/femme_souriante_fini.png");
  background-repeat: no-repeat;
  height: 420px;
  width: 420px;
  position: absolute;
  margin-top: 175px;
  visibility: visible;
}

#sprite2{
  background-image: url("../assets/petite_fini_bebe.png");
  background-repeat: no-repeat;
  height: 420px;
  width: 420px;
  position: absolute;
  margin-top: 300px;
  margin-left: 300px;
  visibility: visible;
}

#sprite3{
  background-image: url("../assets/homme_joie.png");
  background-repeat: no-repeat;
  height: 420px;
  width: 420px;
  position: absolute;
  margin-top: 150px;
  margin-left: 500px;
  visibility: visible;
}

#next{
	position: absolute;
	margin-top: 525px;
  margin-left: 700px;
	height: 50px;
	width: 100px;
	font-size: 10px;
	font-style: italic;
	visibility: hidden;
}
